{
  "openapi": "3.0.0",
  "paths": {
    "/attestation-client/api/proof/votes-for-round/{roundId}": {
      "get": {
        "description": "Gets the result of a voting round.",
        "operationId": "ProofController_votesForRound",
        "parameters": [
          {
            "name": "roundId",
            "description": "The ID number of the attestation round. It corresponds to the buffer number of the Collect phase of the round.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number",
              "example": 2345678
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The result of the specified voting round.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseWrapper"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VotingRoundResult"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Proof"
        ]
      }
    },
    "/attestation-client/api/proof/get-specific-proof": {
      "post": {
        "description": "Requests an attestation proof. Attestation request is identified by the request data and the round ID in which it was submitted.",
        "operationId": "ProofController_getSpecificProofController",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SpecificProofRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A verified attestation proof.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseWrapper"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/VotingRoundResult"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Proof"
        ]
      }
    },
    "/attestation-client/api/proof/requests-for-round/{roundId}": {
      "get": {
        "description": "Gets all requests received by the attestation provider in a voting round. Each request includes its processing status.",
        "operationId": "ProofController_requestsForRound",
        "parameters": [
          {
            "name": "roundId",
            "description": "The ID number of the attestation round. It corresponds to the buffer number of the Collect phase of the round.",
            "required": true,
            "in": "path",
            "schema": {
              "type": "number",
              "example": 2345678
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation requests received in the specified round.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseWrapper"
                    },
                    {
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/VotingRoundRequest"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Proof"
        ]
      }
    },
    "/attestation-client/api/proof/status": {
      "get": {
        "description": "Gets information about the current status of the system, including the current voting round and the last completed round.",
        "operationId": "ProofController_systemStatus",
        "parameters": [],
        "responses": {
          "200": {
            "description": "System status, ID number for the current round in the Request phase, and ID number for the latest finished round.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ApiResponseWrapper"
                    },
                    {
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/SystemStatus"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Proof"
        ]
      }
    }
  },
  "info": {
    "title": "Attestation Client Public Server",
    "description": "The public attestation client server. It provides data about attestations by voting round and metrics about attestation statuses.",
    "version": "1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://attestation-coston.aflabs.net"
    }
  ],
  "components": {
    "schemas": {
      "VotingRoundResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "data": {
            "type": "object"
          }
        }
      },
      "ApiValidationErrorDetails": {
        "type": "object",
        "properties": {
          "className": {
            "type": "string"
          },
          "fieldErrors": {
            "type": "object"
          }
        }
      },
      "ApiResponseWrapper": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "OK",
              "ERROR",
              "REQUEST_BODY_ERROR",
              "VALIDATION_ERROR",
              "TOO_MANY_REQUESTS",
              "UNAUTHORIZED",
              "AUTH_ERROR",
              "UPSTREAM_HTTP_ERROR",
              "INVALID_REQUEST",
              "NOT_IMPLEMENTED",
              "PENDING"
            ]
          },
          "validationErrorDetails": {
            "$ref": "#/components/schemas/ApiValidationErrorDetails"
          }
        },
        "required": [
          "status"
        ]
      },
      "SpecificProofRequest": {
        "description": "The requested attestation proof.",
        "type": "object",
        "properties": {
          "roundId": {
            "type": "number",
            "description": "The ID number of the attestation round. It corresponds to the buffer number of the Collect phase of the round."
          },
          "requestBytes": {
            "type": "object",
            "description": "Encoded request data."
          }
        }
      },
      "VotingRoundRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "OK"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "requestBytes": {
                  "type": "string"
                },
                "verificationStatus": {
                  "type": "string"
                },
                "attestationStatus": {
                  "type": "string"
                },
                "roundId": {
                  "type": "number"
                }
              }
            }
          }
        }
      },
      "SystemStatus": {
        "type": "object",
        "properties": {}
      }
    }
  }
}
