/* Define Flare's colors */
:root>* {
    --md-primary-fg-color: #363b66;
    --md-accent-fg-color: #b35160;
    --md-footer-bg-color: var(--md-primary-fg-color);
}

/* Restore admonition text size */
.md-typeset .admonition {
    font-size: initial;
}

/* Hide the GitHub link at the top, it's not that interesting */
.md-header__source,
.md-nav__source {
    display: none;
}

/* Underline links in the main text. Our primary color is too close
 * to the regular text color and links are invisible. */
.md-typeset a {
    text-decoration: underline;
}

/* Glossary */
dt {
    color: var(--md-primary-fg-color);
    font-weight: bold;
    padding-left: 10px;
}

dt:target {
    background: var(--md-accent-fg-color--transparent);
    border-radius: 4px;
}

/* Glossary links */
a[href*="/glossary/#"] {
    text-decoration-style: dotted;
    text-decoration-thickness: 1px;
}