name: docs-deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    if: github.repository == 'flare-foundation/docs'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: mkdocs gh-deploy --force
